---
hastr: true
layout: default
title: arcanis' projects
comment: false
share: true
back: 1
---
  <body>
    <div class="wrapper">
      <header>
        <h1>{{ page.title }}</h1>
        <p class="view">The list of some of my projects</p>
      </header>
      <section>

{% for project in site.categories.projects %}
    {% if project.categories contains 'ru' %}
<!--               do nothing -->
    {% else %}
    <h2><a href="#{{ project.short }}" class="anchor" id="{{ project.short }}"><span class="octicon octicon-link"></span></a>{{ project.title }}</h2>
    <p>{{ project.excerpt }}</p>
    <ul>
        <li><a href="{{ project.url }}" title="Homepage">Homepage</a></li>
        <li><a href="//github.com/arcan1s/{{ project.short }}" title="GitHub">GitHub repo</a></li>
      {% for link in project.links %}
        <li>{{ link }}</li>
      {% endfor %}
    </ul>
    {% endif %}
{% endfor %}
