---
layout: default
comment: false
share: true
back: 0
title: arcanis' homepage
---
  <body>
    <div class="wrapper">
      <header>
        <h1>{{ page.title }}</h1>

        <label class="spoiler">
          <input type="checkbox" tabindex="-1">
          <div class="box">
            <a href="/blog/">Blog</a> <span class="close">(hide)</span><span class="open">(show)</span>
            <blockquote>
            {% for post in site.categories.en limit:3 %}
              <a href="{{ post.url }}">{{ post.title }}</a><br>
            {% endfor %}
            </blockquote>
          </div>
        </label>
        <p class="view"><a href="/projects/">Projects</a><br>
        <a href="ftp://repo.arcanis.name/repo">Repository</a></p>
        <p class="view"><a href="/about">About me</a></p>

      </header>
<!-- redirection to russian page -->
  <script>
    function redirectpage(dest) {
      if (window.location.replace) window.location.replace(dest)
      else window.location=dest
    }
    if (document.referrer != "http://arcan1s.github.io/ru/") {
      var languageinfo=navigator.language? navigator.language : navigator.userLanguage
      if (languageinfo.substr(0,2) == "ru") redirectpage("/ru/")
    }
  </script>
<!-- redirection to russian page -->
      <section>

<h3><a name="welcome" class="anchor" href="#welcome"><span class="octicon octicon-link"></span></a>Welcome</h3>
<p align="justify">Welcome to my homepage, <code>`echo $USERNAME`</code>. You may read about me on <a href="/about">the link</a>. I'm sorry I don't know html/php/ruby/etc (but I know GoogleFOO! At least, I think so), therefore this page may not look very pretty. But I tried (or may be not). In the blog I will write some papers about science, programming, living in Archlinux system and may be package maintaining. Also I will create pages for some of <a href="https://github.com/arcan1s">my projects</a>.</p>

<h3><a name="contact" class="anchor" href="#contact"><span class="octicon octicon-link"></span></a>Contact me</h3>
<p align="justify">If you have a question or something else you may <a href="/about">contact me</a>. If you want to suggest a pull request or to create a bug report for these pages (or may be for some other projects) feel free to visit <a href="https://github.com/arcan1s">my Github profile</a> and do it.</p>

<h3><a name="search" class="anchor" href="#search"><span class="octicon octicon-link"></span></a>Site search</h3>
{% include cse.html %}
