<p>
  {% if page.category == "ru" %}
    {% if page.hastr == true %}
      {% if page.type == "paper" %}
        <a href="{{ page.url | replace: '/ru/', '/en/' }}" title="Page in English">
      {% else %}
        <a href="{{ page.url | replace: '/ru/', '/' }}" title="Page in English">
      {% endif %}
          <img src="/resources/en.png" alt="en">
        </a>
    {% endif %}
    <small><a href="/ru/authors" title="Авторы">Авторы</a></small>
  {% else %}
    {% if page.hastr == true %}
      {% if page.type == "paper" %}
        <a href="{{ page.url | replace: '/en/', '/ru/' }}" title="Page in Russian">
      {% else %}
        <a href="/ru{{ page.url }}" title="Page in Russian">
      {% endif %}
          <img src="/resources/ru.png" alt="ru">
        </a>
    {% endif %}
    <small><a href="/authors" title="Authors">Authors</a></small>
  {% endif %}
</p>
