---
category: ru
hastr: true
layout: project
title: Awesome Widgets
short: awesome-widgets
tags: python, kde, qt, linux, система, awesome
hasgui: true
hasdocs: false
developers:
    - Evgeniy Alekseev
    - Ernesto Avilés Vzqz (перевод на испанский)
    - Mermouy (перевод на французский)
    - underr (перевод на бразильский португальский)
    - Виктор Слободян (перевод на украинский)
    - Lemueler (перевод на китайский)
    - Heimen Stoffels (перевод на голландский)
license: GPLv3
links:
    - Страница плазмоида на <a href="http://kde-look.org/content/show.php/Awesome+Widgets?content=157124" title="kde-look">kde-look.org</a>
    - Страница DataEngine на <a href="http://kde-look.org/content/show.php/Extended+Systemmonitor+DataEngine?content=158773" title="kde-look">kde-look.org</a>
    - Пакет в <a href="https://aur.archlinux.org/packages/kdeplasma-applets-awesome-widgets" title="AUR">AUR</a>
    - Пакет для <a href="http://software.opensuse.org/package/plasma5-awesome-widgets" title="openSUSE">openSUSE</a> (спасибо Kott)
    - Пакеты для <a href="https://github.com/arcan1s/awesome-widgets/releases" title="Ubuntu">Ubuntu</a>
    - <a href="/ru/2014/09/04/migration-to-v2/" title="Миграция">Миграция на версию 2.0</a>
    - <a href="/ru/2014/12/19/aw-v21-bells-and-whistles/" title="Расширения">Расширения</a>
---
<!-- info block -->
<h2><a href="#information" class="anchor" id="info"><span class="octicon octicon-link"></span></a>Информация</h2>
<p>Набор минималистичных легко настраиваемых пламоидов, написанных на <code>C++/Qt</code>. Они выглядят, как виджеты в <a href="http://awesome.naquadah.org/" title="Домашняя страница Awesome">Awesome WM</a>. Также пакет предоставляет дополнительный системный <a href="http://techbase.kde.org/Development/Tutorials/Plasma/DataEngines" title="Мануал для разработчиков">DataEngine</a>.</p>

<p><b>ВНИМАНИЕ:</b> <a href="https://github.com/arcan1s/awesome-widgets/issues/14" title="Тикет">НУЖНЫ ПЕРЕВОДЧИКИ!</a></p>
<p><b>Совместим с Plasma 5!</b></p>

<h3><a href="#devel" class="anchor" id="devel"><span class="octicon octicon-link"></span></a>Разработчики</h3>
<ul>
  {% for devel in page.developers %}
    <li>{{ devel }}</li>
  {% endfor %}
</ul>

<h3><a href="#license" class="anchor" id="license"><span class="octicon octicon-link"></span></a>Лицензия</h3>
<ul>
  <li>{{ page.license }}</li>
</ul>

<h3><a href="#changelog" class="anchor" id="changelog"><span class="octicon octicon-link"></span></a>Список изменений</h3>
<p><a href="https://github.com/arcan1s/awesome-widgets/blob/master/CHANGELOG-RU" title="GitHub">CHANGELOG-RU</a></p>
<!-- end of info block -->

<!-- install block -->
<h2><a href="#install" class="anchor" id="install"><span class="octicon octicon-link"></span></a>Установка</h2>

<h3><a href="#instruction" class="anchor" id="instruction"><span class="octicon octicon-link"></span></a>Инструкция</h3>
<ul>
  <li>Скачайте <a href="https://github.com/arcan1s/awesome-widgets/releases" title="GitHub">архив</a> с актуальной версией исходных файлов.</li>
  <li>Извлеките из него файлы и установите:

{% highlight bash %}
cd /путь/к/извлеченным/файлам/
mkdir build && cd build
cmake -DCMAKE_BUILD_TYPE=Release -DCMAKE_INSTALL_PREFIX=/usr ../
make
sudo make install
{% endhighlight %}

  <b>ВНИМАНИЕ:</b> Для Plasma 5, вероятно, потребуется флаг <code>-DKDE_INSTALL_USE_QT_SYS_PATHS=ON</code>
  </li>
</ul>

<h3><a href="#dependencies" class="anchor" id="dependencies"><span class="octicon octicon-link"></span></a>Зависимости</h3>
<p>Все было протестировано на последних версиях зависимостей.</p>
<ul>
  <li>plasma-framework</li>
  <li>cmake <i>(make)</i></li>
  <li>extra-cmake-modules <i>(make)</i></li>
  <li>hddtemp <b>или</b> smartmontools <i>(опционально, для контроля за температурой HDD)</i></li>
  <li>один из поддерживаемых музыкальных плееров <i>(опционально, для контроля за музыкальным плеером)</i></li>
  <li>проприетарный видеодрайвер <i>(опционально, для контроля за GPU)</i></li>
</ul>
<!-- end of install block -->

<!-- howto block -->
<h2><a href="#howto" class="anchor" id="howto"><span class="octicon octicon-link"></span></a>Использование</h2>
<p>Откройте список виджетов Plasma и выберете <code>Awesome Widget</code>.</p>

<h3><a href="#tips" class="anchor" id="tips"><span class="octicon octicon-link"></span></a>Tips & tricks</h3>
<p>Вы можете использовать несколько цветов в тексте. Просто вставьте нужный текст в html код. Смотри <a href="https://github.com/arcan1s/awesome-widgets/issues/9" title="GitHub">вопрос</a> для более подробной информации.</p>
<!-- end of howto block -->

<!-- config block -->
<h2><a href="#config" class="anchor" id="config"><span class="octicon octicon-link"></span></a>Настройка</h2>

<h3><a href="#deconf" class="anchor" id="deconf"><span class="octicon octicon-link"></span></a>Настройка DataEngine</h3>
<p>Вы можете отредактировать настройки DataEngine, которые хранятся в <code>/etc/xdg/plasma-dataengine-extsysmon.conf</code> и <code>$HOME/.config/plasma-dataengine-extsysmon.conf</code>. Раскомментируйте необходимые строчки и отредактируйте их.</p>

<h4><a href="#deoptions" class="anchor" id="deoptions"><span class="octicon octicon-link"></span></a>Опции DataEngine</h4>
<table>
  <tr>
    <th>ACPIPATH</th>
    <td>Путь к устройствам ACPI. По умолчанию <code>/sys/class/power_supply/</code>.</td>
  </tr>
  <tr>
    <th>GPUDEV</th>
    <td>Устанавливает тип GPU. Может быть <code>nvidia</code> (для nVidia), <code>ati</code> (для ATI Radeon), <code>disable</code> или <code>auto</code>. По умолчанию <code>auto</code>.</td>
  </tr>
  <tr>
    <th>HDDDEV</th>
    <td>Устанавливает блочное устройство для <code>hddtemp</code> через запятую или <code>all</code> для всех возможных. <code>disable</code> отключит монитор температуры HDD. По умолчанию <code>all</code>.</td>
  </tr>
  <tr>
    <th>HDDTEMPCMD</th>
    <td>Команда, которая будет запущена для hddtemp. По умолчанию <code>sudo smartctl -a</code>. Поддерживаемые приложения - <code>hddtemp</code> и <code>smartmontools</code>.</td>
  </tr>
  <tr>
    <th>MPDADDRESS</th>
    <td>Адрес MPD хоста. По умолчанию <code>localhost</code>.</td>
  </tr>
  <tr>
    <th>MPDPORT</th>
    <td>Адрес MPD хоста. По умолчанию <code>6600</code>.</td>
  </tr>
  <tr>
    <th>PLAYER</th>
    <td>Устанавливает музыкальный плеер. Поддерживаемые плееры: mpd и с поддержкой MPRIS/DBus. <code>disable</code> отключит данный монитор.</td>
  </tr>
</table>

<h3><a href="#widconf" class="anchor" id="widconf"><span class="octicon octicon-link"></span></a>Настройка виджета</h3>
<p>Для настройки внешнего вида Вы должны открыть окно настроек и установить требуемый формат текста. HTML теги обрабатываются корректно.</p>

<p>Доступные флаги приведены в таблице ниже.<br>
<b>ЗАМЕЧАНИЕ</b> Нумерация всех массивов в переменных начинается с 0.</p>
<table>
  <tr>
    <th rowspan="5">Время</th>
    <td><code>$time</code></td>
    <td>Время в стандартном формате. Например, <code>fri Nov 6 04:48:01 2013</code>.</td>
  </tr>
  <tr>
    <td><code>$isotime</code></td>
    <td>Время в формате ISO.</td>
  </tr>
  <tr>
    <td><code>$shorttime</code></td>
    <td>Время в коротком формате локали.</td>
  </tr>
  <tr>
    <td><code>$longtime</code></td>
    <td>Время в длинном формате локали.</td>
  </tr>
  <tr>
    <td><code>$ctime</code></td>
    <td>Специальный формат времени.</td>
  </tr>
  <tr>
    <th rowspan="2">Время работы</th>
    <td><code>$uptime</code></td>
    <td>Системный аптайм, <code>---d--h--m</code>.</td>
  </tr>
  <tr>
    <td><code>$cuptime</code></td>
    <td>Специальный формат аптайма.</td>
  </tr>
  <tr>
    <th rowspan="3">Средняя загрузка</th>
    <td><code>$la1</code></td>
    <td>Средняя загрузка за 1 минуту, <code>-----</code>.</td>
  </tr>
  <tr>
    <td><code>$la5</code></td>
    <td>Средняя загрузка за 5 минут, <code>-----</code>.</td>
  </tr>
  <tr>
    <td><code>$la15</code></td>
    <td>Средняя загрузка за 15 минут, <code>-----</code>.</td>
  </tr>
  <tr>
    <th rowspan="2">CPU</th>
    <td><code>$cpu</code></td>
    <td>Полная загрузка CPU, %, <code>-----</code>.</td>
  </tr>
  <tr>
    <td><code>$cpuN</code></td>
    <td>Загрузка CPU для ядра N, %, <code>-----</code>.</td>
  </tr>
  <tr>
    <th rowspan="2">Частота CPU</th>
    <td><code>$cpucl</code></td>
    <td>Средняя частота CPU, МГц, <code>----</code>.</td>
  </tr>
  <tr>
    <td><code>$cpuclN</code></td>
    <td>Частота CPU для ядра N, МГц, <code>----</code>.</td>
  </tr>
  <tr>
    <th rowspan="1">Температура</th>
    <td><code>$tempN</code></td>
    <td>Температура для датчика N, <code>----</code>. Пример: <code>$temp0</code></td>
  </tr>
  <tr>
    <th rowspan="1">GPU</th>
    <td><code>$gpu</code></td>
    <td>Использование GPU, %, <code>-----</code>. <code>aticonfig</code> или <code>nvidia-smi</code> должны быть установлены.</td>
  </tr>
  <tr>
    <th rowspan="1">Температура GPU</th>
    <td><code>$gputemp</code></td>
    <td>Температура GPU, <code>----</code>. <code>aticonfig</code> или <code>nvidia-smi</code> должны быть установлены.</td>
  </tr>
  <tr>
    <th rowspan="9">Память</th>
    <td><code>$mem</code></td>
    <td>Использование RAM, %, <code>-----</code>.</td>
  </tr>
  <tr>
    <td><code>$memmb</code></td>
    <td>Использование RAM, MB, <code>-----</code>.</td>
  </tr>
  <tr>
    <td><code>$memgb</code></td>
    <td>Использование RAM, GB, <code>----</code>.</td>
  </tr>
  <tr>
    <td><code>$memfreemb</code></td>
    <td>Свободная RAM, MB, <code>-----</code>.</td>
  </tr>
  <tr>
    <td><code>$memfreegb</code></td>
    <td>Свободная RAM, GB, <code>----</code>.</td>
  </tr>
  <tr>
    <td><code>$memtotmb</code></td>
    <td>RAM, MB, <code>-----</code>.</td>
  </tr>
  <tr>
    <td><code>$memtotgb</code></td>
    <td>RAM, GB, <code>----</code>.</td>
  </tr>
  <tr>
    <td><code>$memusedmb</code></td>
    <td>Занятая и кэшированная RAM, MB, <code>-----</code>.</td>
  </tr>
  <tr>
    <td><code>$memusedgb</code></td>
    <td>Занятая и кэшированная RAM, GB, <code>----</code>.</td>
  </tr>
  <tr>
    <th rowspan="7">Swap</th>
    <td><code>$swap</code></td>
    <td>Использование swap, %, <code>-----</code>.</td>
  </tr>
  <tr>
    <td><code>$swapmb</code></td>
    <td>Использование swap, MB, <code>-----</code>.</td>
  </tr>
  <tr>
    <td><code>$swapgb</code></td>
    <td>Использование swap, GB, <code>----</code>.</td>
  </tr>
  <tr>
    <td><code>$swapfreemb</code></td>
    <td>Свободный swap, MB, <code>-----</code>.</td>
  </tr>
  <tr>
    <td><code>$swapfreegb</code></td>
    <td>Свободный swap, GB, <code>----</code>.</td>
  </tr>
  <tr>
    <td><code>$swaptotmb</code></td>
    <td>swap, MB, <code>-----</code>.</td>
  </tr>
  <tr>
    <td><code>$swaptotgb</code></td>
    <td>swap, GB, <code>----</code>.</td>
  </tr>
  <tr>
    <th rowspan="7">HDD</th>
    <td><code>$hddN</code></td>
    <td>Занятость точки монтирования N, %, <code>-----</code>. Пример: <code>$hdd0</code>.</td>
  </tr>
  <tr>
    <td><code>$hddmbN</code></td>
    <td>Занятость точки монтирования N, MB, <code>-----</code>. Пример: <code>$hddmb0</code>.</td>
  </tr>
  <tr>
    <td><code>$hddgbN</code></td>
    <td>Занятость точки монтирования N, GB, <code>-----</code>. Пример: <code>$hddgb0</code>.</td>
  </tr>
  <tr>
    <td><code>$hddfreembN</code></td>
    <td>Свободное место точки монтирования N, MB, <code>-----</code>. Пример: <code>$hddfreemb0</code>.</td>
  </tr>
  <tr>
    <td><code>$hddfreegbN</code></td>
    <td>Свободное место точки монтирования N, GB, <code>-----</code>. Пример: <code>$hddfreegb0</code>.</td>
  </tr>
  <tr>
    <td><code>$hddtotmbN</code></td>
    <td>Размер точки монтирования N, MB, <code>-----</code>. Пример: <code>$hddtotmb0</code>.</td>
  </tr>
  <tr>
    <td><code>$hddtotgbN</code></td>
    <td>Размер точки монтирования N, GB, <code>-----</code>. Пример: <code>$hddtotgb0</code>.</td>
  </tr>
  <tr>
    <th rowspan="2">Скорость HDD</th>
    <td><code>$hddrN</code></td>
    <td>Скорость записи диска N, KB/s, <code>-----</code>. Пример: <code>$hddr0</code>.</td>
  </tr>
  <tr>
    <td><code>$hddwN</code></td>
    <td>Скорость чтения диска N, KB/s, <code>-----</code>. Пример: <code>$hddw0</code>.</td>
  </tr>
  <tr>
    <th rowspan="1">Температура HDD</th>
    <td><code>$hddtempN</code></td>
    <td>Температура HDD с номером N, <code>----</code>. Пример <code>$hddtemp0</code>. <code>hddtemp</code> должен быть установлен.</td>
  </tr>
  <tr>
    <th rowspan="13">Сеть</th>
    <td><code>$down</code></td>
    <td>Скорость загрузки активного устройства, KB/s или MB/s, <code>----</code>.</td>
  </tr>
  <tr>
    <td><code>$downkb</code></td>
    <td>Скорость загрузки активного устройства, KB/s, <code>----</code>.</td>
  </tr>
  <tr>
    <td><code>$downunits</code></td>
    <td>Единицы скорости загрузки активного устройства, <code>----</code>.</td>
  </tr>
  <tr>
    <td><code>$downN</code></td>
    <td>Скорость загрузки устройства N, KB/s или MB/s, <code>----</code>.</td>
  </tr>
  <tr>
    <td><code>$downkbN</code></td>
    <td>Скорость загрузки устройства N, KB/s, <code>----</code>.</td>
  </tr>
  <tr>
    <td><code>$downunitsN</code></td>
    <td>Единицы cкорости загрузки устройства N, <code>----</code>.</td>
  </tr>
  <tr>
    <td><code>$up</code></td>
    <td>Скорость отдачи активного устройства, KB/s или MB/s, <code>----</code>.</td>
  </tr>
  <tr>
    <td><code>$upkb</code></td>
    <td>Скорость отдачи активного устройства, KB/s, <code>----</code>.</td>
  </tr>
  <tr>
    <td><code>$upunits</code></td>
    <td>Единицы скорости отдачи активного устройства, <code>----</code>.</td>
  </tr>
  <tr>
    <td><code>$upN</code></td>
    <td>Скорость отдачи устройства N, KB/s или MB/s, <code>----</code>.</td>
  </tr>
  <tr>
    <td><code>$upkbN</code></td>
    <td>Скорость отдачи устройства N, KB/s, <code>----</code>.</td>
  </tr>
  <tr>
    <td><code>$upunitsN</code></td>
    <td>Единицы скорости отдачи устройства N, <code>----</code>.</td>
  </tr>
  <tr>
    <td><code>$netdev</code></td>
    <td>Текущее устройство.</td>
  </tr>
  <tr>
    <th rowspan="3">Батарея</th>
    <td><code>$bat</code></td>
    <td>Средний заряд батареи, %, <code>---</code>.</td>
  </tr>
  <tr>
    <td><code>$batN</code></td>
    <td>Заряд батареи N, %, <code>---</code>.</td>
  </tr>
  <tr>
    <td><code>$ac</code></td>
    <td>Статус зарядного устройства. Возвращает <code>(*)</code>, если устройство подключено, или <code>( )</code>, если нет.</td>
  </tr>
  <tr>
    <th rowspan="5">Музыкальный плеер</th>
    <td><code>$album</code></td>
    <td>Альбом текущей песни. Один из поддерживаемых музыкальных плееров должен быть установлен.</td>
  </tr>
  <tr>
    <td><code>$artist</code></td>
    <td>Исполнитель текущей песни. Один из поддерживаемых музыкальных плееров должен быть установлен.</td>
  </tr>
  <tr>
    <td><code>$duration</code></td>
    <td>Длительность текущей пени. Один из поддерживаемых музыкальных плееров должен быть установлен.</td>
  </tr>
  <tr>
    <td><code>$progress</code></td>
    <td>Прогресс текущей песни. Один из поддерживаемых музыкальных плееров должен быть установлен.</td>
  </tr>
  <tr>
    <td><code>$title</code></td>
    <td>Название текущей песни. Один из поддерживаемых музыкальных плееров должен быть установлен.</td>
  </tr>
  <tr>
    <th rowspan="3">Процессы</th>
    <td><code>$ps</code></td>
    <td>Список запущенных процессов, разделенных запятой.</td>
  </tr>
  <tr>
    <td><code>$pscount</code></td>
    <td>Число запущенных процессов.</td>
  </tr>
  <tr>
    <td><code>$pstotal</code></td>
    <td>Общее число процессов.</td>
  </tr>
  <tr>
    <th rowspan="1">Пакетный менеджер</th>
    <td><code>$pkgcountN</code></td>
    <td>Число пакетов, доступных для обновления, для команды N.</td>
  </tr>
  <tr>
    <th rowspan="1">Своя команда</th>
    <td><code>$customN</code></td>
    <td>Получить данные из указанной команды N. Например, <code>$custom0</code>.</td>
  </tr>
  <tr>
    <th rowspan="3">Рабочий стол</th>
    <td><code>$desktop</code></td>
    <td>Имя текущего рабочего стола.</td>
  </tr>
  <tr>
    <td><code>$ndesktop</code></td>
    <td>Номер текущего рабочего стола.</td>
  </tr>
  <tr>
    <td><code>$tdesktops</code></td>
    <td>Общее число рабочих столов.</td>
  </tr>
  <tr>
    <th rowspan="9">Котировки</th>
    <td><code>$askN</code></td>
    <td>Получить аск по тикеру N. Например, <code>$ask0</code>.</td>
  </tr>
  <tr>
    <td><code>$askchgN</code></td>
    <td>Абсолютное изменение аск по тикеру N. Например, <code>$askchg0</code>.</td>
  </tr>
  <tr>
    <td><code>$percaskchgN</code></td>
    <td>Изменение аск по тикеру N, %. Например, <code>$percaskchg0</code>.</td>
  </tr>
  <tr>
    <td><code>$bidN</code></td>
    <td>Получить бид по тикеру N. Например, <code>$bid0</code>.</td>
  </tr>
  <tr>
    <td><code>$bidchgN</code></td>
    <td>Абсолютное изменение бид по тикеру N. Например, <code>$bidchg0</code>.</td>
  </tr>
  <tr>
    <td><code>$percbidchgN</code></td>
    <td>Изменение бид по тикеру N, %. Например, <code>$percbidchg0</code>.</td>
  </tr>
  <tr>
    <td><code>$priceN</code></td>
    <td>Получить цену по тикеру N. Например, <code>$price0</code>.</td>
  </tr>
  <tr>
    <td><code>$pricechgN</code></td>
    <td>Абсолютное изменение цены по тикеру N. Например, <code>$pricechg0</code>.</td>
  </tr>
  <tr>
    <td><code>$percpricechgN</code></td>
    <td>Изменение цены по тикеру N, %. Например, <code>$percpricechg0</code>.</td>
  </tr>
  <tr>
    <th rowspan="5">Погода</th>
    <td><code>$weatherIdN</code></td>
    <td>Численное ID погоды. Например <code>$weatherId0</code>.</td>
  </tr>
  <tr>
    <td><code>$weatherN</code></td>
    <td>UTF символ для соответствующего ID. Например <code>$weather0</code>.</td>
  </tr>
  <tr>
    <td><code>$humidityN</code></td>
    <td>Влажность, %. Например <code>$humidity0</code>.</td>
  </tr>
  <tr>
    <td><code>$pressureN</code></td>
    <td>Давление, бар. Например <code>$pressure0</code>.</td>
  </tr>
  <tr>
    <td><code>$temperatureN</code></td>
    <td>Температура. Humidity <code>$temperature0</code>.</td>
  </tr>
</table>

<h4><a href="#lambda" class="anchor" id="lambda"><span class="octicon octicon-link"></span></a>Лямбда функции</h4>
<p>Начиная с версии 2.4.1 основной виджет поддерживает лямбда выражения, которые рассчитываются в рантайме. Они объявляются использованием конструкции <code>$&#123;&#123; &#125;&#125;</code>:</p>

{% highlight javascript %}
{% raw %}${{{% endraw %}
function three()
{
    return 1 + 2;
}
three()
{% raw %}}}{% endraw %}
{% endhighlight %}

<p>Функции внутри будут интерпретированы, как JavaScript, любая переменная из основного набора поддерживается. Так, функция:</p>

{% highlight javascript %}
{% raw %}${{{% endraw %}
function colorCpu()
{
    if ($cpu > 90.0)
        return "<span style=\"color:#ff0000;\">$cpu</span>"
    else
        return "$cpu"
}
colorCpu()
{% raw %}}}{% endraw %}
{% endhighlight %}

<p>покажет значение <code>$cpu</code> красным, если оно больше 90.0, иначе - покажет цветом по-умолчанию. Также поддерживаются произвольные вычисления:</p>

{% highlight javascript %}
{% raw %}${{{% endraw %}
$down - $up
{% raw %}}}{% endraw %}
{% endhighlight %}

<p>покажет разность между скоростями загрузки и отдачи. Таким образом, лямбда выражения могут быть использованы, например, чтобы показывать произвольное значение, которое будет рассчитано в рантайме, или, чтобы показать различную информацию, в зависимости от некоторых условий. Однако, пожалуйста, учитывайте, что подобные вычисления в рантайме могут увеличить нагрузку на CPU.</p>

<h4><a href="#advanced" class="anchor" id="advanced"><span class="octicon octicon-link"></span></a>Расширенные настройки</h4>
<p><b>Высота виджета:</b> Отключит автоматическое определение высоты виджета и установит ее в данное значение. По умолчанию <code>0</code> (автоматически).</p>

<p><b>Ширина виджета:</b> Отключит автоматическое определение ширины виджета и установит ее в данное значение. По умолчанию <code>0</code> (автоматически).</p>

<p><b>Заменить символ перевода строки:</b> Заменить <code>\n</code> на <code>&#60;br&#62;</code>. По умолчанию <code>false</code>.</p>

<p><b>Включить фон:</b> Снимите галочку, чтобы отключить стандартный фон виджета и установить прозрачный. По умолчанию <code>true</code>.</p>

<p><b>Включить всплывающие сообщения:</b> Снимите галочку, если вы не хотите всплывающих сообщений на системные события. По умолчанию <code>true</code>.</p>

<p><b>Свой формат времени:</b></p>
<table>
  <tr>
    <td><code>$dddd</code></td>
    <td>Длинный день недели.</td>
  </tr>
  <tr>
    <td><code>$ddd</code></td>
    <td>Короткий день недели.</td>
  </tr>
  <tr>
    <td><code>$dd</code></td>
    <td>День.</td>
  </tr>
  <tr>
    <td><code>$d</code></td>
    <td>День без нуля.</td>
  </tr>
  <tr>
    <td><code>$MMMM</code></td>
    <td>Месяц в длинном формате.</td>
  </tr>
  <tr>
    <td><code>$MMM</code></td>
    <td>Месяц в коротком формате.</td>
  </tr>
  <tr>
    <td><code>$MM</code></td>
    <td>Месяц.</td>
  </tr>
  <tr>
    <td><code>$M</code></td>
    <td>Месяц без нуля.</td>
  </tr>
  <tr>
    <td><code>$yyyy</code></td>
    <td>Год.</td>
  </tr>
  <tr>
    <td><code>$yy</code></td>
    <td>Год в коротком формате.</td>
  </tr>
  <tr>
    <td><code>$hh</code></td>
    <td>Часы.</td>
  </tr>
  <tr>
    <td><code>$h</code></td>
    <td>Часы без нуля.</td>
  </tr>
  <tr>
    <td><code>$HH</code></td>
    <td>Часы в 24-часовом формате.</td>
  </tr>
  <tr>
    <td><code>$H</code></td>
    <td>Часы в 24-часовом формате без нуля.</td>
  </tr>
  <tr>
    <td><code>$mm</code></td>
    <td>Минуты.</td>
  </tr>
  <tr>
    <td><code>$m</code></td>
    <td>Минуты без нуля.</td>
  </tr>
  <tr>
    <td><code>$ss</code></td>
    <td>Секунды.</td>
  </tr>
  <tr>
    <td><code>$s</code></td>
    <td>Секунды без нуля.</td>
  </tr>
  <tr>
    <td><code>$t</code></td>
    <td>Временная зона.</td>
  </tr>
  <tr>
    <td><code>$a</code>/<code>$ap</code></td>
    <td>am или pm.</td>
  </tr>
  <tr>
    <td><code>$A</code>/<code>$AP</code></td>
    <td>AM или PM.</td>
  </tr>
</table>

<p><b>Свой формат времени работы:</b></p>
<table>
  <tr>
    <td><code>$dd</code></td>
    <td>Дни аптайма.</td>
  </tr>
  <tr>
    <td><code>$d</code></td>
    <td>Дни аптайма без нуля.</td>
  </tr>
  <tr>
    <td><code>$hh</code></td>
    <td>Часы аптайма.</td>
  </tr>
  <tr>
    <td><code>$h</code></td>
    <td>Часы аптайма без нуля.</td>
  </tr>
  <tr>
    <td><code>$mm</code></td>
    <td>Минуты аптайма.</td>
  </tr>
  <tr>
    <td><code>$m</code></td>
    <td>Минуты аптайма без нуля.</td>
  </tr>
</table>

<p><b>Температурные единицы:</b> Выберете единицы температуры. Доступные единицы следующие: Цельсий, Фаренгейт и Кельвин.</p>

<p><b>AC online тег:</b> Строка, которая будет показана, когда AC онлайн. По умолчанию <code>(*)</code>.</p>

<p><b>AC offline тег:</b> Строка, которая будет показана, когда AC оффлайн. По умолчанию <code>( )</code>.</p>

<p><b>Проверять обновления:</b> Проверять или нет обновления при запуске. По умолчанию <code>true</code>.</p>

<p><b>Переводить строки:</b> Переводить или нет строковые теги. По умолчанию <code>true</code>.</p>

<h4><a href="#tooltips" class="anchor" id="tooltips"><span class="octicon octicon-link"></span></a>Тултипы</h4>
<p>Начиная с версии 1.7.0, поля CPU, частота CPU, память, swap, сеть и батарея поддерживают графический тултип (всплывающая подсказка). Чтобы включить их, просто поставьте нужные галочки. Число хранимых значений может быть установлено во вкладке. Также есть возможность настроить цвета графиков.</p>

<h4><a href="#deguiconf" class="anchor" id="deguiconf"><span class="octicon octicon-link"></span></a>Настройка DataEngine</h4>
<p><b>Устройства ACPI:</b> Путь к устройствам ACPI. По умолчанию <code>/sys/class/power_supply/</code>.</p>

<p><b>Устройство GPU:</b> Выберете одно из поддерживаемых устройств GPU. <code>auto</code> включит автоматическое определение устройства, <code>disable</code> отключит все мониторы GPU. По умолчанию <code>auto</code>.</p>

<p><b>HDD:</b> Выберете один из HDD для монитора температуры HDD. <code>all</code> включит монитор для всех доступных устройств, <code>disable</code> отключит монитор температуры HDD. По умолчанию <code>all</code>.</p>

<p><b>Команда hddtemp:</b> Введите команду, которая будет запущена для hddtemp DataEngine. По умолчанию <code>sudo hddtemp</code>.</p>

<p><b>Адрес MPD:</b> Адрес MPD сервера. По умолчанию <code>localhost</code>.</p>

<p><b>Порт MPD:</b> Порт MPD сервера. По умолчанию <code>6600</code>.</p>

<p><b>MPRIS:</b> Выберете имя плеера MPRIS. <code>auto</code> включит автоматическое определение плеера. По умолчанию <code>auto</code>.</p>

<p><b>Музыкальный плеер:</b> Выберете один из поддерживаемых музыкальных плееров для соответствующего поля.</p>

<h3><a href="#desktoppanel" class="anchor" id="desktoppanel"><span class="octicon octicon-link"></span></a>Desktop panel</h3>
<p>Начиная с версии 1.11.0 виджеты предоставляют панель для мониторинга за рабочими столами. И да, он выглядит, как аналогичная панель в Awesome.</p>

<h4><a href="#dpconf" class="anchor" id="dpconf"><span class="octicon octicon-link"></span></a>Настройка Desktop panel</h4>
<p><b>Высота виджета:</b> Отключит автоматическое определение высоты виджета и установит ее в данное значение. По умолчанию <code>0</code> (автоматически).</p>

<p><b>Ширина виджета:</b> Отключит автоматическое определение ширины виджета и установит ее в данное значение. По умолчанию <code>0</code> (автоматически).</p>

<p><b>Включить тултип:</b> Включать или нет графическое превью выбранного рабочего стола. Вы также должны указать тип превью, по умолчанию <code>Окна</code>.</p>

<p><b>Ширина тултипа:</b> Ширина тултипа в пикселях. По умолчанию <code>200px</code>.</p>

<p><b>Цвет тултипа:</b> Цвет, который будет использован в некоторых типах тултипа. По умолчанию <code>#ffffff</code>.</p>

<p><b>Включить фон:</b> Снимите галочку, чтобы отключить стандартный фон виджета и установить прозрачный. По умолчанию <code>true</code>.</p>

<p><b>Вертикальная разметка:</b> Использовать вертикальную разметку вместо горизонтальной. По умолчанию <code>false</code>.</p>

<p><b>Метка</b> Введите символ (или строку), которая будет показана, если данный рабочий стол сейчас активен.</p>

<p><b>Теги шаблона</b></p>
<table>
  <tr>
    <td><code>$mark</code></td>
    <td>Показать метку, если данный рабочий стол активен. Иначе показывает пробелы</td>
  </tr>
  <tr>
    <td><code>$name</code></td>
    <td>Имя рабочего стола.</td>
  </tr>
  <tr>
    <td><code>$number</code></td>
    <td>Номер рабочего стола.</td>
  </tr>
  <tr>
    <td><code>$total</code></td>
    <td>Общее число рабочих столов.</td>
  </tr>
</table>
<!-- end of config block -->

<!-- gui block -->
<h2><a href="#gui" class="anchor" id="gui"><span class="octicon octicon-link"></span></a>Графический интерфейс</h2>

<h2><a href="#screenshots" class="anchor" id="screenshots"><span class="octicon octicon-link"></span></a>Скриншоты</h2>
<div class="thumbnails">
  {% assign scrdesc = "Виджет (кликабельно)" %}
  {% assign scrname = "awesomewidgets_widget" %}
  {% include prj_scr.html %}
  {% assign scrdesc = "Окно настроек" %}
  {% assign scrname = "awesomewidgets_config_01" %}
  {% include prj_scr.html %}
  {% assign scrdesc = "Окно настроек" %}
  {% assign scrname = "awesomewidgets_config_02" %}
  {% include prj_scr.html %}
  {% assign scrdesc = "Окно настроек" %}
  {% assign scrname = "awesomewidgets_config_03" %}
  {% include prj_scr.html %}
  {% assign scrdesc = "Окно настроек" %}
  {% assign scrname = "awesomewidgets_config_04" %}
  {% include prj_scr.html %}
  {% assign scrdesc = "Окно настроек" %}
  {% assign scrname = "awesomewidgets_config_05" %}
  {% include prj_scr.html %}
  {% assign scrdesc = "Тултипы" %}
  {% assign scrname = "awesomewidgets_tooltips" %}
  {% include prj_scr.html %}
</div>
