---
category: ru
hastr: true
layout: project
title: py-text-monitor
short: pytextmonitor
tags: python, kde, qt, linux, система, awesome
hasgui: true
hasdocs: false
developers:
    - Evgeniy Alekseev
    - Ernesto Avilés Vzqz (перевод на испанский)
    - Mermouy (перевод на французский)
    - underr (перевод на бразильский португальский)
    - Виктор Слободян (перевод на украинский)
license: GPLv3
links:
    - Страница плазмоида на <a href="http://kde-look.org/content/show.php/Py+Text+Monitor?content=157124" title="kde-look">kde-look.org</a>
    - Страница DataEngine на <a href="http://kde-look.org/content/show.php/Extended+Systemmonitor+DataEngine?content=158773" title="kde-look">kde-look.org</a>
    - Пакет в <a href="https://aur.archlinux.org/packages/kdeplasma-applets-pytextmonitor" title="AUR">AUR</a>
---
<!-- info block -->
<h2><a href="#information" class="anchor" id="info"><span class="octicon octicon-link"></span></a>Информация</h2>
<p>Минималистичный пламоид, написанный на <code>Python2</code>. Он выглядит, как виджеты в <a href="http://awesome.naquadah.org/" title="Домашняя страница Awesome">Awesome WM</a>. Мой плазмоид хорошо и легко настраивается и не засоряет Ваш KDE. Также данный пакет имеет дополнительный <a href="http://techbase.kde.org/Development/Tutorials/Plasma/DataEngines" title="Мануал для разработчиков">DataEngine</a>, который написан на <code>CPP</code> (старые версии были написаны на <code>Python2</code>).</p>

<p><b>ВНИМАНИЕ:</b> <a href="https://github.com/arcan1s/pytextmonitor/issues/14" title="Тикет">НУЖНЫ ПЕРЕВОДЧИКИ!</a></p>

<h3><a href="#devel" class="anchor" id="devel"><span class="octicon octicon-link"></span></a>Разработчики</h3>
<ul>
  {% for devel in page.developers %}
    <li>{{ devel }}</li>
  {% endfor %}
</ul>

<h3><a href="#license" class="anchor" id="license"><span class="octicon octicon-link"></span></a>Лицензия</h3>
<ul>
  <li>{{ page.license }}</li>
</ul>

<h3><a href="#changelog" class="anchor" id="changelog"><span class="octicon octicon-link"></span></a>Список изменений</h3>
<p><a href="https://github.com/arcan1s/pytextmonitor/blob/master/CHANGELOG-RU" title="GitHub">CHANGELOG-RU</a></p>
<!-- end of info block -->

<!-- install block -->
<h2><a href="#install" class="anchor" id="install"><span class="octicon octicon-link"></span></a>Установка</h2>

<h3><a href="#instruction" class="anchor" id="instruction"><span class="octicon octicon-link"></span></a>Инструкция</h3>
<ul>
  <li>Скачайте <a href="https://github.com/arcan1s/pytextmonitor/releases" title="GitHub">архив</a> с актуальной версией исходных файлов.</li>
  <li>Извлеките из него файлы и установите:

{% highlight bash %}
cd /путь/к/извлеченным/файлам/
mkdir build && cd build
cmake -DCMAKE_INSTALL_PREFIX=`kde4-config --localprefix` -DCMAKE_BUILD_TYPE=Release ../
make
make install
{% endhighlight %}

Для глобальной установки наберите:

{% highlight bash %}
cd /путь/к/извлеченным/файлам/
mkdir build && cd build
cmake -DCMAKE_BUILD_TYPE=Release -DCMAKE_INSTALL_PREFIX=`kde4-config --prefix` ../
make
sudo make install
{% endhighlight %}

  </li>
</ul>

<h3><a href="#dependencies" class="anchor" id="dependencies"><span class="octicon octicon-link"></span></a>Зависимости</h3>
<p>Все было протестировано на последних версиях зависимостей.</p>
<ul>
  <li>kdebase-workspace</li>
  <li>kdebindings-python2</li>
  <li>lm_sensors</li>
  <li>automoc4 <i>(make)</i></li>
  <li>cmake <i>(make)</i></li>
  <li>net-tools <i>(опционально, для всплывающих подсказок)</i></li>
  <li>sysstat <i>(опционально, для всплывающих подсказок)</i></li>
  <li>hddtemp <i>(опционально, для контроля за температурой HDD)</i></li>
  <li>один из поддерживаемых музыкальных плееров - <a href="http://amarok.kde.org/" title="Домашняя страница Amarok">amarok</a>, <a href="http://www.clementine-player.org/" title="Домашняя страница Clementine">clementine</a>, <a href="http://www.musicpd.org/" title="Домашняя страница mpd">mpd</a> или <a href="http://qmmp.ylsoftware.com/" title="Домашняя страница qmmp">qmmp</a> <i>(опционально, для контроля за музыкальным плеером)</i>
  <li>проприетарный видеодрайвер <i>(опционально, для контроля за GPU)</i></li>
</ul>
<!-- end of install block -->

<!-- howto block -->
<h2><a href="#howto" class="anchor" id="howto"><span class="octicon octicon-link"></span></a>Использование</h2>
<p>Откройте список виджетов Plasma и выберете <code>Py Text Monitor</code>.</p>

<h3><a href="#tips" class="anchor" id="tips"><span class="octicon octicon-link"></span></a>Tips & tricks</h3>
<p>Вы можете использовать различные цвета в полях. Просто вставьте нужный текст в html код. Смотри <a href="https://github.com/arcan1s/pytextmonitor/issues/9" title="GitHub">вопрос</a> для более подробной информации.</p>

<p>Нумерация элементов в полях температура, использование HDD, скорость HDD, температура HDD ссылается на порядок элементов во второй вкладке (<i>Расширенные настройки</i>). Вы должны сначала добавить требуемые элементы в нужный listWidget. И первый элемент в listWdiget будет связан c <code>$tag0</code>. Смотри <a href="https://github.com/arcan1s/pytextmonitor/issues/17" title="GitHub">вопрос</a> для более подробной информации.</p>
<!-- end of howto block -->

<!-- config block -->
<h2><a href="#config" class="anchor" id="config"><span class="octicon octicon-link"></span></a>Настройка</h2>

<h3><a href="#deconf" class="anchor" id="deconf"><span class="octicon octicon-link"></span></a>Настройка DataEngine</h3>
<p>Вы можете отредактировать настройки DataEngine, которые хранятся в <code>/usr/share/config/extsysmon.conf</code> или <code>$HOME/.kde4/share/config/extsysmon.conf</code> в зависимости от типа установки. Раскомментируйте необходимые строчки и отредактируйте их.</p>

<h4><a href="#deoptions" class="anchor" id="deoptions"><span class="octicon octicon-link"></span></a>Опции DataEngine</h4>
<table>
  <tr>
    <th>CUSTOM</th>
    <td>Свои команды для запуска. По умолчанию <code>wget -qO- http://ifconfig.me/ip</code>. Разделитель <code>@@</code>.</td>
  </tr>
  <tr>
    <th>DESKTOPCMD</th>
    <td>Комадна, которая определяет текущий рабочий стол. По умолчанию <code>qdbus org.kde.kwin /KWin currentDesktop</code>.</td>
  </tr>
  <tr>
    <th>GPUDEV</th>
    <td>Устанавливает тип GPU. Может быть <code>nvidia</code> (для nVidia), <code>ati</code> (для ATI Radeon), <code>disable</code> или <code>auto</code>. По умолчанию <code>auto</code>.</td>
  </tr>
  <tr>
    <th>HDDDEV</th>
    <td>Устанавливает блочное устройство для <code>hddtemp</code> через запятую или <code>all</code> для всех возможных. <code>disable</code> отключит монитор температуры HDD. По умолчанию <code>all</code>.</td>
  </tr>
  <tr>
    <th>HDDTEMPCMD</th>
    <td>Команда, которая будет запущена для hddtemp. По умолчанию <code>sudo hddtemp</code>.</td>
  </tr>
  <tr>
    <th>MPDADDRESS</th>
    <td>Адрес MPD хоста. По умолчанию <code>localhost</code>.</td>
  </tr>
  <tr>
    <th>MPDPORT</th>
    <td>Адрес MPD хоста. По умолчанию <code>6600</code>.</td>
  </tr>
  <tr>
    <th>PKGCMD</th>
    <td>Команды, которые будут запущены для пакетного менеджера, разделенные запятой.</td>
  </tr>
  <tr>
    <th>PKGNULL</th>
    <td>Число пустых строк для команд, разделенные запятой.</td>
  </tr>
    <tr>
    <th>PLAYER</th>
    <td>Устанавливает музыкальный плеер. Поддерживаемые плееры: amarok, clementine, mpd, qmmp.</td>
  </tr>
</table>

<h3><a href="#widconf" class="anchor" id="widconf"><span class="octicon octicon-link"></span></a>Настройка виджета</h3>
<p>Для настройки внешнего вида Вы должны открыть окно настроек и установить требуемый формат. Порядок меток изменится, если Вы измените положение слайдера. В метках работают HTML теги.<br>
<b>ЗАМЕЧАНИЕ</b> Вы не можете, например, заставить его показывать Вам <code>$cpu</code> в метка swap. <b><code>$cpu</code> будет работать только в метке cpu.</b></p>

<p>Доступные флаги в таблице ниже.<br>
<b>ЗАМЕЧАНИЕ</b> Нумерация всех массивов в переменных начинается с 0.</p>
<table>
  <tr>
    <th rowspan="5">Время</th>
    <td><code>$time</code></td>
    <td>Время в стандартном формате. Например, <code>fri Nov 6 04:48:01 2013</code>.</td>
  </tr>
  <tr>
    <td><code>$isotime</code></td>
    <td>Время в формате ISO.</td>
  </tr>
  <tr>
    <td><code>$shorttime</code></td>
    <td>Время в коротком формате локали.</td>
  </tr>
  <tr>
    <td><code>$longtime</code></td>
    <td>Время в длинном формате локали.</td>
  </tr>
  <tr>
    <td><code>$custom</code></td>
    <td>Cпециальный формат времени.</td>
  </tr>
  <tr>
    <th rowspan="2">Время работы</th>
    <td><code>$uptime</code></td>
    <td>Системный аптайм, <code>---d--h--m</code>.</td>
  </tr>
  <tr>
    <td><code>$custom</code></td>
    <td>Cпециальный формат аптайма.</td>
  </tr>
  <tr>
    <th rowspan="2">CPU</th>
    <td><code>$cpu</code></td>
    <td>Полная загрузка CPU, %, <code>-----</code>.</td>
  </tr>
  <tr>
    <td><code>$cpuN</code></td>
    <td>Загрузка CPU для ядра N, %, <code>-----</code>.</td>
  </tr>
  <tr>
    <th rowspan="2">Частота CPU</th>
    <td><code>$cpucl</code></td>
    <td>Средняя частота CPU, МГц, <code>----</code>.</td>
  </tr>
  <tr>
    <td><code>$cpuclN</code></td>
    <td>Частота CPU для ядра N, МГц, <code>----</code>.</td>
  </tr>
  <tr>
    <th rowspan="1">Температура</th>
    <td><code>$tempN</code></td>
    <td>Температура для датчика N, &deg;C, <code>----</code>. Пример: <code>$temp0</code></td>
  </tr>
  <tr>
    <th rowspan="1">GPU</th>
    <td><code>$gpu</code></td>
    <td>Использование GPU, %, <code>-----</code>. <code>aticonfig</code> или <code>nvidia-smi</code> должны быть установлены.</td>
  </tr>
  <tr>
    <th rowspan="1">Температура GPU</th>
    <td><code>$gputemp</code></td>
    <td>Температура GPU, &deg;C, <code>----</code>. <code>aticonfig</code> или <code>nvidia-smi</code> должны быть установлены.</td>
  </tr>
  <tr>
    <th rowspan="5">Память</th>
    <td><code>$mem</code></td>
    <td>Использование RAM, %, <code>-----</code>.</td>
  </tr>
  <tr>
    <td><code>$memmb</code></td>
    <td>Использование RAM, MB, <code>-----</code>.</td>
  </tr>
  <tr>
    <td><code>$memgb</code></td>
    <td>Использование RAM, GB, <code>----</code>.</td>
  </tr>
  <tr>
    <td><code>$memtotmb</code></td>
    <td>RAM, MB, <code>-----</code>.</td>
  </tr>
  <tr>
    <td><code>$memtotgb</code></td>
    <td>RAM, GB, <code>----</code>.</td>
  </tr>
  <tr>
    <th rowspan="5">Swap</th>
    <td><code>$swap</code></td>
    <td>Использование swap, %, <code>-----</code>.</td>
  </tr>
  <tr>
    <td><code>$swapmb</code></td>
    <td>Использование swap, MB, <code>-----</code>.</td>
  </tr>
  <tr>
    <td><code>$swapgb</code></td>
    <td>Использование swap, GB, <code>----</code>.</td>
  </tr>
  <tr>
    <td><code>$swaptotmb</code></td>
    <td>swap, MB, <code>-----</code>.</td>
  </tr>
  <tr>
    <td><code>$swaptotgb</code></td>
    <td>swap, GB, <code>----</code>.</td>
  </tr>
  <tr>
    <th rowspan="5">HDD</th>
    <td><code>$hddN</code></td>
    <td>Занятость точки монтирования N, %, <code>-----</code>. Пример: <code>$hdd0</code>.</td>
  </tr>
  <tr>
    <td><code>$hddmbN</code></td>
    <td>Занятость точки монтирования N, MB, <code>-----</code>. Пример: <code>$hddmb0</code>.</td>
  </tr>
  <tr>
    <td><code>$hddgbN</code></td>
    <td>Занятость точки монтирования N, GB, <code>-----</code>. Пример: <code>$hddgb0</code>.</td>
  </tr>
  <tr>
    <td><code>$hddtotmbN</code></td>
    <td>Размер точки монтирования N, MB, <code>-----</code>. Пример: <code>$hddtotmb0</code>.</td>
  </tr>
  <tr>
    <td><code>$hddtotgbN</code></td>
    <td>Размер точки монтирования N, GB, <code>-----</code>. Пример: <code>$hddtotgb0</code>.</td>
  </tr>
  <tr>
    <th rowspan="2">Скорость HDD</th>
    <td><code>$hddrN</code></td>
    <td>Скорость записи диска N, KB/s, <code>-----</code>. Пример: <code>$hddr0</code>.</td>
  </tr>
  <tr>
    <td><code>$hddwN</code></td>
    <td>Скорость чтения диска N, KB/s, <code>-----</code>. Пример: <code>$hddw0</code>.</td>
  </tr>
  <tr>
    <th rowspan="1">Температура HDD</th>
    <td><code>$hddtempN</code></td>
    <td>Температура HDD с номером N, &deg;C, <code>----</code>. Пример <code>$hddtemp0</code>. <code>hddtemp</code> должен быть установлен.</td>
  </tr>
  <tr>
    <th rowspan="3">Сеть</th>
    <td><code>$down</code></td>
    <td>Скорость загрузки, KB/s, <code>----</code>.</td>
  </tr>
  <tr>
    <td><code>$up</code></td>
    <td>Скорость отдачи, KB/s, <code>----</code>.</td>
  </tr>
  <tr>
    <td><code>$netdev</code></td>
    <td>Текущее устройство.</td>
  </tr>
  <tr>
    <th rowspan="2">Батарея</th>
    <td><code>$bat</code></td>
    <td>Заряд батареи, %, <code>---</code>.</td>
  </tr>
  <tr>
    <td><code>$ac</code></td>
    <td>Статус зарядного устройства. Возвращает <code>(*)</code>, если устройство подключено, или <code>( )</code>, если нет.</td>
  </tr>
  <tr>
    <th rowspan="5">Музыкальный плеер</th>
    <td><code>$album</code></td>
    <td>Альбом текущей песни. Один из поддерживаемых музыкальных плееров должен быть установлен.</td>
  </tr>
  <tr>
    <td><code>$artist</code></td>
    <td>Исполнитель текущей песни. Один из поддерживаемых музыкальных плееров должен быть установлен.</td>
  </tr>
  <tr>
    <td><code>$progress</code></td>
    <td>Прогресс текущей песни. Один из поддерживаемых музыкальных плееров должен быть установлен.</td>
  </tr>
  <tr>
    <td><code>$time</code></td>
    <td>Длительность текущей пени. Один из поддерживаемых музыкальных плееров должен быть установлен.</td>
  </tr>
  <tr>
    <td><code>$title</code></td>
    <td>Название текущей песни. Один из поддерживаемых музыкальных плееров должен быть установлен.</td>
  </tr>
  <tr>
    <th rowspan="3">Процессы</th>
    <td><code>$ps</code></td>
    <td>Список запущенных процессов, разделенных запятой.</td>
  </tr>
  <tr>
    <td><code>$pscount</code></td>
    <td>Число запущенных процессов.</td>
  </tr>
  <tr>
    <td><code>$pstotal</code></td>
    <td>Общее число процессов.</td>
  </tr>
  <tr>
    <th rowspan="1">Пакетный менеджер</th>
    <td><code>$pkgcountN</code></td>
    <td>Число пакетов, доступных для обновления, для команды N.</td>
  </tr>
  <tr>
    <th rowspan="1">Своя команда</th>
    <td><code>$customN</code></td>
    <td>Получить данные из указанной команды N. Например, <code>$custom0</code>.</td>
  </tr>
  <tr>
    <th rowspan="3">Desktop label</th>
    <td><code>$name</code></td>
    <td>Имя текущего рабочего стола.</td>
  </tr>
  <tr>
    <td><code>$number</code></td>
    <td>Номер текущего рабочего стола.</td>
  </tr>
  <tr>
    <td><code>$total</code></td>
    <td>Общее число рабочих столов.</td>
  </tr>
</table>

<h4><a href="#advanced" class="anchor" id="advanced"><span class="octicon octicon-link"></span></a>Расширенные настройки</h4>
<p><b>Включить фон:</b> Снимите галочку, чтобы отключить стандартный фон виджета и установить прозрачный.</p>

<p><b>Вертикальная разметка:</b> Использовать вертикальную разметку вместо горизонтальной.</p>

<p><b>Включить всплывающие сообщения:</b> Нажмите на чекбокс, если вы не используете всплывающие сообщения.</p>

<p><b>Добавить пустое пространство:</b> Добавить пустое пространство в указанное место виджета.</p>

<p><b>Свой формат времени:</b></p>
<table>
  <tr>
    <td><code>$dddd</code></td>
    <td>Длинный день недели.</td>
  </tr>
  <tr>
    <td><code>$ddd</code></td>
    <td>Короткий день недели.</td>
  </tr>
  <tr>
    <td><code>$dd</code></td>
    <td>День.</td>
  </tr>
  <tr>
    <td><code>$d</code></td>
    <td>День без нуля.</td>
  </tr>
  <tr>
    <td><code>$MMMM</code></td>
    <td>Месяц в длинном формате.</td>
  </tr>
  <tr>
    <td><code>$MMM</code></td>
    <td>Месяц в коротком формате.</td>
  </tr>
  <tr>
    <td><code>$MM</code></td>
    <td>Месяц.</td>
  </tr>
  <tr>
    <td><code>$M</code></td>
    <td>Месяц без нуля.</td>
  </tr>
  <tr>
    <td><code>$yyyy</code></td>
    <td>Год.</td>
  </tr>
  <tr>
    <td><code>$yy</code></td>
    <td>Год в коротком формате.</td>
  </tr>
  <tr>
    <td><code>$hh</code></td>
    <td>Часы.</td>
  </tr>
  <tr>
    <td><code>$h</code></td>
    <td>Часы без нуля.</td>
  </tr>
  <tr>
    <td><code>$mm</code></td>
    <td>Минуты.</td>
  </tr>
  <tr>
    <td><code>$m</code></td>
    <td>Минуты без нуля.</td>
  </tr>
  <tr>
    <td><code>$ss</code></td>
    <td>Секунды.</td>
  </tr>
  <tr>
    <td><code>$s</code></td>
    <td>Секунды без нуля.</td>
  </tr>
</table>

<p><b>Свой формат времени работы:</b></p>
<table>
  <tr>
    <td><code>$dd</code></td>
    <td>Дни аптайма.</td>
  </tr>
  <tr>
    <td><code>$d</code></td>
    <td>Дни аптайма без нуля.</td>
  </tr>
  <tr>
    <td><code>$hh</code></td>
    <td>Часы аптайма.</td>
  </tr>
  <tr>
    <td><code>$h</code></td>
    <td>Часы аптайма без нуля.</td>
  </tr>
  <tr>
    <td><code>$mm</code></td>
    <td>Минуты аптайма.</td>
  </tr>
  <tr>
    <td><code>$m</code></td>
    <td>Минуты аптайма без 0.</td>
  </tr>
</table>

<p><b>Температурные единицы:</b> Выберете единицы температуры. Доступные единицы следующие: Цельсий, Фаренгейт и Кельвин.</p>

<p><b>Датчики температуры:</b> Список датчиков, которые будут наблюдаться в соответствующем поле (содержимое комбо-бокса заполнятся из <code>sensors</code>). Содержимое виджета редактируемо, клавиша delete удалит текущий элемент.</p>

<p><b>Точки монтирования: </b> Список точек монтирования, которые будут наблюдаться в соответствующем поле (содержимое комбо-бокса заполнятся из <code>mount</code>). Содержимое виджета редактируемо, клавиша delete удалит текущий элемент.</p>

<p><b>HDD (скорость):</b> Список HDD, скорость которых будет наблюдаться в соответствующем поле (содержимое комбо-бокса заполнятся из DataEngine). Содержимое виджета редактируемо, клавиша delete удалит текущий элемент.</p>

<p><b>HDD (температура):</b> Список HDD, температура которых будет наблюдаться в соответствующем поле (содержимое комбо-бокса заполнятся из <code>find</code>). Содержимое виджета редактируемо, клавиша delete удалит текущий элемент.</p>

<p><b>Путь к интерфейсам:</b> Путь к директории, которая содержит информацию о сетевых устройствах. По умолчанию <code>/sys/class/net</code>. Необходима для автоматического выбора устройства.</p>

<p><b>Сетевой интерфейс:</b> Использовать указанный интерфейс, как активный. Содержимое комбо-бокса заполнятся из <b>пути к интерфейсам</b>. Эта опция отключит автоматический выбор сетевого интерфейса.</p>

<p><b>Устройство батареи:</b> Файл, содержащий информацию о батарее. Данный файл (<code>/sys/class/power_supply/BAT0/capacity</code> по умолчанию) должен содержать только заряд батареи в %.</p>

<p><b>AC online тег:</b> Строка, которая будет показана, когда AC онлайн. По умолчанию <code>(*)</code>.</p>

<p><b>AC offline тег:</b> Строка, которая будет показана, когда AC оффлайн. По умолчанию <code>( )</code>.</p>

<p><b>Устройство AC:</b> Файл, содержащий информацию об адапторе питания. Данный файл (<code>/sys/class/power_supply/AC/online</code> по умолчанию) должен содержать <code>1</code>, если устройство подключено.</p>

<h4><a href="#tooltips" class="anchor" id="tooltips"><span class="octicon octicon-link"></span></a>Тултипы</h4>
<p>Начиная с версии 1.7.0, поля CPU, частота CPU, память, swap, сеть поддерживают графический тултип (всплывающая подсказка). Чтобы включить их, просто сделайте требуемые чекбоксы полностью чекнутыми. Число хранимых значений может быть установленно во вкладке. Цвета графиков настраиваются тоже.</p>

<h4><a href="#deguiconf" class="anchor" id="deguiconf"><span class="octicon octicon-link"></span></a>Настройка DataEngine</h4>
<p><b>Своя команда:</b> <i><b>ЗАМЕЧАНИЕ</b> это поле может привести к "зависанию" компьютера.</i> Команды, которые будут запущены для соответствующего поля. Например, <code>wget -qO- http://ifconfig.me/ip</code> вернет внешний IP.</p>

<p><b>Комадна для определения рабочего стола</b> Введите команду, которая будет запущеная для desktop DataEngine. По умолчанию <code>qdbus org.kde.kwin /KWin currentDesktop</code>.</p>

<p><b>Устройство GPU:</b> Выберете одно из поддерживаемых устройств GPU. <code>auto</code> включит автоматическое определение устройства, <code>disable</code> отключит все мониторы GPU. По умолчанию <code>auto</code>.</p>

<p><b>HDD:</b> Выберете один из HDD для монитора температуры HDD. <code>all</code> включит монитор для всех доступных устройств, <code>disable</code> отключит монитор температуры HDD. По умолчанию <code>all</code>.</p>

<p><b>Команда hddtemp:</b> Введите команду, которая будет запущена для hddtemp DataEngine. По умолчанию <code>sudo hddtemp</code>.</p>

<p><b>Адрес MPD:</b> Адрес MPD сервера. По умолчанию <code>localhost</code>.</p>

<p><b>Порт MPD:</b> Порт MPD сервера. По умолчанию <code>6600</code>.</p>

<p><b>Пакетный менеджер:</b> Список команд, которые будут запущены. Число пустых строк - это число ненужных при подсчете строк. Параметры по умолчанию:</p>
<table>
  <tr>
    <th>Дистрибутив</th>
    <th>Команда</th>
    <th>Число</th>
  </tr>
  <tr>
    <td>Arch</td>
    <td><code>pacman -Qu</code></td>
    <td><code>0</code></td>
  </tr>
  <tr>
    <td>Debian</td>
    <td><code>apt-show-versions -u -b</code></td>
    <td><code>0</code></td>
  </tr>
  <tr>
    <td>Ubuntu</td>
    <td><code>aptitude search '~U'</code></td>
    <td><code>0</code></td>
  </tr>
  <tr>
    <td>Fedora</td>
    <td><code>yum list updates</code></td>
    <td><code>3</code></td>
  </tr>
  <tr>
    <td>FreeBSD</td>
    <td><code>pkg_version -I -l '<'</code></td>
    <td><code>0</code></td>
  </tr>
  <tr>
    <td>Mandriva</td>
    <td><code>urpmq --auto-select</code></td>
    <td><code>0</code></td>
  </tr>
</table>

<p><b>Музыкальный плеер:</b> Выберете один из поддерживаемых музыкальных плееров для соответствующего поля.</p>

<h3><a href="#desktoppanel" class="anchor" id="desktoppanel"><span class="octicon octicon-link"></span></a>PTM desktop panel</h3>
<p>Начиная с версии 1.11.0 PyTextMonitor предоставляет минималистичную панель для мониторинга за рабочими столами, написанный на <code>C++</code>. И да, он выглядит, как аналогичная панель в Awesome.</p>

<h4><a href="#ptmdpconf" class="anchor" id="ptmdpconf"><span class="octicon octicon-link"></span></a>Настройка PTM desktop panel</h4>
<p><b>Включить фон:</b> Снимите галочку, чтобы отключить стандартный фон виджета и установить прозрачный.</p>

<p><b>Вертикальная разметка:</b> Использовать вертикальную разметку вместо горизонтальной.</p>

<p><b>Добавить пустое пространство:</b> Добавить пустое пространство в указанное место виджета.</p>

<p><b>Метка</b> Введите символ (или строку), которая будет показана, если данный рабочий стол сейчас активен.</p>

<p><b>Теги шаблона</b></p>
<table>
  <tr>
    <td><code>$mark</code></td>
    <td>Показать метку, если данный рабочий стол активен.</td>
  </tr>
  <tr>
    <td><code>$name</code></td>
    <td>Имя рабочего стола.</td>
  </tr>
  <tr>
    <td><code>$number</code></td>
    <td>Номер рабочего стола.</td>
  </tr>
  <tr>
    <td><code>$total</code></td>
    <td>Общее число рабочих столов.</td>
  </tr>
</table>

<p><b>Команда:</b> Введите команду, которая будет запущена по клику левой кнопкой мыши на выбранном рабочем столе. Доступны те же переменные, что и для шаблонов. По умолчанию <code>dbus org.kde.kwin /KWin setCurrentDesktop $number</code>.</p>
<!-- end of config block -->

<!-- gui block -->
<h2><a href="#gui" class="anchor" id="gui"><span class="octicon octicon-link"></span></a>Графический интерфейс</h2>

<h2><a href="#screenshots" class="anchor" id="screenshots"><span class="octicon octicon-link"></span></a>Скриншоты</h2>
<div class="thumbnails">
  {% assign scrdesc = "Виджет (кликабельно)" %}
  {% assign scrname = "pytextmonitor_widget" %}
  {% include prj_scr.html %}
  {% assign scrdesc = "Окно настроек" %}
  {% assign scrname = "pytextmonitor_config_01" %}
  {% include prj_scr.html %}
  {% assign scrdesc = "Окно настроек" %}
  {% assign scrname = "pytextmonitor_config_02" %}
  {% include prj_scr.html %}
  {% assign scrdesc = "Окно настроек" %}
  {% assign scrname = "pytextmonitor_config_03" %}
  {% include prj_scr.html %}
  {% assign scrdesc = "Окно настроек" %}
  {% assign scrname = "pytextmonitor_config_04" %}
  {% include prj_scr.html %}
  {% assign scrdesc = "Окно настроек" %}
  {% assign scrname = "pytextmonitor_config_05" %}
  {% include prj_scr.html %}
  {% assign scrdesc = "Тултипы" %}
  {% assign scrname = "pytextmonitor_tooltips" %}
  {% include prj_scr.html %}
</div>
