---
category: ru
layout: default
title: Архив материалов
comment: false
share: false
back: 2
hastr: true
---
  <body>
    <div class="wrapper">
      <header>
        <h1>{{ page.title }}</h1>
      </header>
      <section>

{% for post in site.categories.ru limit:1 %}
  {% assign month = post.date | date: "%Y" %}
  {% assign new_month = post.date | date: "%Y" %}
{% endfor %}
<label class="spoiler">
  <input type="checkbox" tabindex="-1">
  <span class="box">
    <b>{% include longdate_to_ru.html %}</b>
    <span class="close" style="float:right;">(скрыть)</span><span class="open" style="float:right;">(показать)</span>
    <blockquote>
      {% for post in site.categories.ru %}
        {% assign new_month = post.date | date: "%Y" %}
        {% if new_month != month %}
    </blockquote>
  </span>
</label>
<label class="spoiler">
  <input type="checkbox" tabindex="-1">
  <span class="box">
    <b>{% include longdate_to_ru.html %}</b>
    <span class="close" style="float:right;">(скрыть)</span><span class="open" style="float:right;">(показать)</span>
    <blockquote>
        {% endif %}
        {% assign month = post.date | date: "%Y" %}
        <i>{% include shortdate_to_ru.html %}</i> &raquo;
        <a href="#{{ post.short }}" class="anchor" id="{{ post.short }}"><span class="octicon octicon-link"></span></a>
        <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a> ({{ post.tags }})<br>
      {% endfor %}
    </blockquote>
  </span>
</label>
