---
category: ru
layout: default
title: Блог
comment: false
share: false
back: 1
---
  <body>
    <div class="wrapper">
      <header>
        <h1>{{ page.title }}</h1>
      </header>
      <section>

    {% for post in paginator.posts %}
      <h1><a name="{{ post.short }}" class="anchor" href="#{{ post.short }}"><span class="octicon octicon-link"></span></a><a href="{{ post.url }}">{{ post.title }}</a></h1>
      <p align="justify"><i>{{ post.date | date_to_string}}</i></p>
      <p align="justify">{{ post.description }}</p>
      <p align="justify"><b>Тэги</b>: {{ post.tags }}</p>
    {% endfor %}

    {% if paginator.total_pages > 1 %}
      {% if paginator.previous_page %}
        <a href="/ru{{ paginator.previous_page_path }}">&laquo; Предыдущая</a>
      {% else %}
        <span>&laquo; Предыдущая</span>
      {% endif %}

      {% for page in (1..paginator.total_pages) %}
        {% if page == paginator.page %}
          <em>{{ page }}</em>
        {% elsif page == 1 %}
          <a href="{{ '/ru/blog' }}">{{ page }}</a>
        {% else %}
          <a href="/ru{{ site.paginate_path | replace: ':num', page }}">{{ page }}</a>
        {% endif %}
      {% endfor %}

      {% if paginator.next_page %}
        <a href="/ru{{ paginator.next_page_path }}">Следующая &raquo;</a>
      {% else %}
        <span>Следующая &raquo;</span>
      {% endif %}
    {% endif %}

    <script type="text/javascript" src="http://datejs.googlecode.com/svn/trunk/build/date-en-US.js"></script>
