---
category: ru
layout: default
title: Блог
comment: false
share: false
back: 1
hastr: true
---
  <body>
    <div class="wrapper">
      <header>
        <h1>{{ page.title }}</h1>
        <h3>
          <a href="#archive" class="anchor" id="archive"><span class="octicon octicon-link"></span></a>
          <a href="/ru/blog/archive" title="Архив">Архив материалов</a>
        </h3>
      </header>
      <section>

{% for post in site.categories.ru limit:10 %}
  <h1>
    <a href="#{{ post.short }}" class="anchor" id="{{ post.short }}"><span class="octicon octicon-link"></span></a>
    <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
  </h1>
  <p><i>{% include shortdate_to_ru.html %}</i></p>
<p>{{ post.description }}</p>
  <p><b>Теги</b>: {{ post.tags }}</p>
{% endfor %}
