<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="author" content="Unknown" >
    <meta name="description" content="arcanis' homepage">
    <meta name="keywords" content="{{ page.tags }}">
    <link href="/authors" rel="license" type="text/html">

    <link href="/resources/css/styles.css" rel="stylesheet" type="text/css">
    <link href="/resources/css/syntax.css" rel="stylesheet" type="text/css">
    <link href="/resources/octicons/octicons.css" rel="stylesheet" type="text/css">
    <link href="/resources/icon.ico" rel="shortcut icon" type="image/x-icon">
    {% if page.category == "ru" %}
      <link href="/ru/feed.xml" title="arcanis' blog" rel="alternate" type="application/rss+xml">
      <link href="/ru/feed-short.xml" title="arcanis' blog (только названия)" rel="alternate" type="application/rss+xml">
    {% else %}
      <link href="/feed.xml" title="arcanis' blog" rel="alternate" type="application/rss+xml">
      <link href="/feed-short.xml" title="arcanis' blog (title only)" rel="alternate" type="application/rss+xml">
    {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
      <script type="text/javascript">
        document.createElement('figure');
        document.createElement('figcaption');
      </script>
    <![endif]-->
    {% include google_analytics.html %}
    {% if page.share == true or layout.share == true %}
      {% include header_sharethis.html %}
    {% endif %}
  </head>

  <body>
  {% if page.use_math == true %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
  {% endif %}

{{ content }}

{% if page.comment == true or layout.comment == true %}
  {% include comment.html %}
{% endif %}

      </section>
      <footer>
        {% if page.back == 1 or layout.back == 1 %}
          {% include footer_back.html %}
        {% elsif page.back == 2 or layout.back == 2 %}
          {% include footer_fullback.html %}
        {% endif %}
        {% if page.share == true or layout.share == true %}
          {% include footer_sharethis.html %}
        {% endif %}
        {% include footer_sign.html %}
      </footer>
    </div>
    <script src="/resources/js/scale.fix.js" type="text/javascript"></script>
  </body>
</html>
