<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{ page.title }}</title>
    <meta name="author" content="Evgeniy Alekseev" />
    <meta name="description" content="arcanis' homepage" />
    <link rel="license" type="text/html" href="/authors" />

    <link rel="stylesheet" href="/resources/css/styles.css">
    <link rel="shortcut icon" href="/resources/icon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    {% if page.comment == true %}
      {% include header_comment.html %}
    {% endif %}
    {% if page.share == true %}
      {% include header_sharethis.html %}
    {% endif %}
  </head>

{{ content }}

{% if page.comment == true %}
  {% include footer_comment.html %}
{% endif %}

      </section>
      <footer>
        {% if page.back == 1 %}
          {% include footer_back.html %}
        {% elsif page.back == 2 %}
          {% include footer_fullback.html %}
        {% endif %}
        <p>
        {% if page.share == true %}
          {% include footer_sharethis.html %}
        {% endif %}
        {% if page.category == "ru" %}
          <small>Расположено на GitHub Pages. <a href="/ru/authors">Авторы</a></small></p>
          {% if page.title == "arcanis" %}
            <p><a href="/en/"><img src="/resources/en.png"></a></p>
          {% else %}
            <p><a href="{{ page.url | replace: '/ru/', '/' }}"><img src="/resources/en.png"></a></p>
          {% endif %}
        {% else %}
          <small>Hosted on GitHub Pages. <a href="/authors">Authors</a></small></p>
          <p><a href="/ru{{ page.url }}"><img src="/resources/ru.png"></a></p>
        {% endif %}
      </footer>
    </div>
    <script src="/resources/js/scale.fix.js"></script>

  </body>
</html>
