---
comment: true
share: true
back: 2
layout: default
---
  <body>
    <div class="wrapper">
      <header>
        {% if page.category == "ru" %}
          {% assign post = page %}
          <p>{% include shortdate_to_ru.html %}</p>
          <p><b>Тэги</b>: {{ page.tags }}</p>
          {% if page.tags contains 'offtop' %}
<!--         do nothing -->
          {% else %}
            <p><b>Похожие посты</b>:<br>
            {% for post in site.related_posts limit:5 %}
              {% if post.tags contains 'offtop' %}
<!--           do nothing -->
              {% else %}
                {% if post.category == "ru" %}
                  <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a><br>
                {% endif %}
              {% endif %}
            {% endfor %}
            </p>
          {% endif %}
        {% else %}
          <p>{{ page.date | date_to_string }}<br></p>
          <p><b>Tags</b>: {{ page.tags }}</p>
          {% if page.tags contains 'offtop' %}
<!--         do nothing -->
          {% else %}
            <p><b>Related posts</b>:<br>
            {% for post in site.related_posts limit:5 %}
              {% if post.tags contains 'offtop' %}
<!--           do nothing -->
              {% else %}
                {% if post.category != "ru" %}
                  <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a><br>
                {% endif %}
              {% endif %}
            {% endfor %}
            </p>
          {% endif %}
        {% endif %}
      </header>
      <section>

<h1><a href="#" class="anchor" id="title"><span class="octicon octicon-link"></span></a>{{ page.title }}</h1>
{{ page.description }}

{{ content }}
