---
comment: true
share: true
back: 2
layout: default
---
  <body>
    <div class="wrapper">
      <header>
        <h1>{{ page.title }}</h1>
        <p align="justify">{{ page.date | date_to_string }}<br>
        <i>Last edit: {{ page.last | date_to_string }}</i></p>
        <p align="justify">Tags: {% for tag in page.tags %}
        <a href="https://www.google.ru/search?q={{ tag }}+site:arcan1s.github.io">{{ tag }}</a>
        {% endfor %}</p>
      </header>
      <section>

<a name="" class="anchor" href="#"><span class="octicon octicon-link"></span></a>
<p align="justify">{{ page.description }}</p>

{{ content }}
