---
comment: true
share: true
back: 2
layout: default
---
  <body>
    <div class="wrapper">
      <header>
        <h1>{{ page.title }}</h1>
        <p class="view">
          {% if page.category == "ru" %}
            <a href="#info" title="Информация">Общая информация</a><br>
            <a href="#install" title="Установка">Установка</a><br>
            <a href="#howto" title="Использование">Использование</a><br>
            <a href="#config" title="Настройка">Настройка</a><br>
            {% if page.hasgui == true %}
              <a href="#gui" title="Графический интерфейс">Графический интерфейс</a><br>
              <a href="#screenshots" title="Скриншоты">Скриншоты</a><br>
            {% endif %}
            <a href="#links" title="Ссылки">Ссылки</a>
          {% else %}
            <a href="#info" title="Information">General information</a><br>
            <a href="#install" title="Installation">Installation guide</a><br>
            <a href="#howto" title="How-to">How to use</a><br>
            <a href="#config" title="Configuration">Configuration</a><br>
            {% if page.hasgui == true %}
              <a href="#gui" title="Graphical interface">GUI</a><br>
              <a href="#screenshots" title="Screenshots">Screenshots</a><br>
            {% endif %}
            <a href="#links" title="Links">Links</a>
          {% endif %}
        </p>
        <p class="view">
          {% if page.category == "ru" %}
            <a href="https://github.com/arcan1s/{{ page.short }}/issues" title="Багтрекер">Сообщить о баге</a>
            {% if page.hasdocs == true %}
              <br><a href="/devs/{{ page.short }}/" title="Документация">Разработчикам</a>
            {% endif %}
          {% else %}
            <a href="https://github.com/arcan1s/{{ page.short }}/issues" title="Bugtracker">Report a bug</a>
            {% if page.hasdocs == true %}
              <br><a href="/devs/{{ page.short }}/" title="Documentation">For developers</a>
            {% endif %}
          {% endif %}
        </p>
      </header>
      <section>

{{ content }}

{% if page.category == "ru" %}
  <h2><a href="#links" class="anchor" name="links"><span class="octicon octicon-link"></span></a>Ссылки</h2>
  <ul>
    <li><a href="https://github.com/arcan1s/{{ page.short }}">Репозиторий на GitHub</a></li>
    <li><a href="https://github.com/arcan1s/{{ page.short }}/releases">Последний релиз</a></li>
{% else %}
  <h2><a href="#links" class="anchor" name="links"><span class="octicon octicon-link"></span></a>Links</h2>
  <ul>
    <li><a href="https://github.com/arcan1s/{{ page.short }}">GitHub repo</a></li>
    <li><a href="https://github.com/arcan1s/{{ page.short }}/releases">Latest release</a></li>
{% endif %}
    {% for link in page.links %}
      <li>{{ link }}</li>
    {% endfor %}
  </ul>
