---
category: ru
layout: default
comment: false
share: true
back: 0
hastr: true
title: arcanis
---
  <body>
    <div class="wrapper">
      <header>
        <h1>{{ page.title }}</h1>
        <label class="spoiler">
          <input type="checkbox" tabindex="-1">
          <div class="box">
            <a href="/ru/feed.xml" title="RSS"><img src="/resources/feed-icon-14x14.png" alt="RSS"></a>
            <a href="/ru/blog/" title="Блог">Блог</a> <span class="close">(скрыть)</span><span class="open">(показать)</span>
            <blockquote>
              {% for post in site.categories.ru limit:3 %}
                <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a><br>
              {% endfor %}
            </blockquote>
          </div>
        </label>
        <p class="view"><a href="/ru/projects/" title="Проекты">Проекты</a><br>
        <a href="ftp://repo.arcanis.name/repo" title="Репозиторий">Репозиторий</a></p>
        <p class="view"><a href="/ru/about" title="Обо мне">Обо мне</a></p>

        {% include cse.html %}
      </header>
      <section>

<h3><a href="#welcome" class="anchor" name="welcome"><span class="octicon octicon-link"></span></a>Добро пожаловать</h3>
<p>Добро пожаловать на мою домашнюю страничку, <code>`echo $USERNAME`</code>. Обо мне Вы можете прочитать по <a href="/ru/about" title="Обо мне">ссылке</a>. К сожалению, я не знаю html/php/ruby/прочее (но я знаю Google-фу! По крайней мере, я так думаю), поэтому эта страничка может выглядеть не очень красиво. Но я старался (ну или не совсем). В блоге я буду писать какие-нибудь статьи о науке, программировании, проживании в Archlinux и, может быть, о сопровождении пакетов. Также я создам странички для некоторых из <a href="https://github.com/arcan1s" title="GitHub">моих проектов</a>.</p>

<h3><a href="#contact" class="anchor" name="contact"><span class="octicon octicon-link"></span></a>Контакты</h3>
<p>Если у Вас есть вопрос или что-нибудь еще, Вы можете <a href="/ru/about" title="Обо мне">связаться со мной</a>. Если Вы хотите предложить пул-реквест или сообщить о баге для этих страничек, не стесняйтесь посетить <a href="https://github.com/arcan1s/arcan1s.github.io" title="Репозиторий сайта">репозиторий на GitHub</a> и сделать это.</p>
